Tuple　タプル

In [1]:
t = (1, 2, 3, 4, 1, 2)
t

(1, 2, 3, 4, 1, 2)

In [2]:
type(t)

tuple

In [3]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

タプルは新しい値をassignできない

In [4]:
t[0]

1

In [5]:
t[-1]

2

In [6]:
t[2:5]

(3, 4, 1)

In [7]:
t

(1, 2, 3, 4, 1, 2)

In [8]:
t.index(1)

0

In [9]:
t.index(1, 1)

4

In [10]:
t.count(1)

2

In [12]:
t = ([1, 2, 3], [4, 5, 6])
t

([1, 2, 3], [4, 5, 6])

In [13]:
t[0] = [1]

TypeError: 'tuple' object does not support item assignment

In [14]:
t[0][0]

1

In [16]:
t[0][0] = 100
t

([100, 2, 3], [4, 5, 6])

tuple内のリストには代入できる

In [18]:
t = 1, 2, 3
type(t)

(1, 2, 3)

（　）がなくてもTuple

In [19]:
t

(1, 2, 3)

In [20]:
t = 1,
type(t)

tuple

, が付いていればTupleになる

In [23]:
new_tuple = (1, 2, 3) + (4, 5, 6)
new_tuple

(1, 2, 3, 4, 5, 6)

Tuple同士を足すことはできる

〇Tupleのアンパッキング

In [25]:
num_tuple = (10, 20)
print(num_tuple)

(10, 20)

In [26]:
x, y = num_tuple
print(x, y)

10 20

↓これと同じ

In [27]:
x, y = (10, 20)
print(x, y)

10 20

In [32]:
type(x)

int

In [34]:
i = 10
j = 20
tmp = i
i = j
j = tmp

print(i, j)

20 10

In [35]:
a = 100
b = 200
print(a, b)
a, b = b, a
print(a, b)

100 200
200 100

↑数値の入れ替えを簡単に…

〇Tupleの使いどころ

3択から２つ選ぶ

In [38]:
choose_from_two = ('A', 'B', 'C')

answer = []
answer.append('A')
answer.append('C')

print(choose_from_two)
print(answer)

('A', 'B', 'C')
['A', 'C']

In [39]:
choose_from_two = ['A', 'B', 'C']

answer = []
choose_from_two.append('A')
choose_from_two.append('C')

print(choose_from_two)
print(answer)

['A', 'B', 'C', 'A', 'C']
[]

↑このような間違いをなくすことができる

In [41]:
choose_from_two = ('A', 'B', 'C')

answer = []
choose_from_two.append('A')
choose_from_two.append('C')

print(choose_from_two)
print(answer)

AttributeError: 'tuple' object has no attribute 'append'